:root {
  --clr-gray-300: 0deg 0% 40%;
  --clr-gray-400: 0deg 0% 53%;
  --clr-gray-500: 0deg 0% 67%;
  --clr-gray-600: 0deg 0% 80%;
  --ff-serif: serif;
  --ff-sans: sans-serif;
  --fs-100: 0.79rem;
  --fs-200: 0.88rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.266rem;
  --fs-600: 1.423rem;
  --fs-700: 1.602rem;
  --fs-800: 1.802rem;
  --fs-900: 2.027rem;
  --s-100: 0.79rem;
  --s-200: 0.88rem;
  --s-300: 1rem;
  --s-400: 1.125rem;
  --s-500: 1.266rem;
  --s-600: 1.423rem;
  --s-700: 1.602rem;
  --s-800: 1.802rem;
  --s-900: 2.027rem;
}
@media (min-width: 35em) {
  :root {
    --fs-400: 1.5rem;
    --fs-500: 2.5rem;
    --fs-600: 3.375rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.text-gray-300 {
  color: hsl(var(--clr-gray-300));
}

.bg-gray-300 {
  background-color: hsl(var(--clr-gray-300));
}

.text-gray-400 {
  color: hsl(var(--clr-gray-400));
}

.bg-gray-400 {
  background-color: hsl(var(--clr-gray-400));
}

.text-gray-500 {
  color: hsl(var(--clr-gray-500));
}

.bg-gray-500 {
  background-color: hsl(var(--clr-gray-500));
}

.text-gray-600 {
  color: hsl(var(--clr-gray-600));
}

.bg-gray-600 {
  background-color: hsl(var(--clr-gray-600));
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.width-min {
  width: min-content;
}

.width-max {
  width: max-content;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-one-third {
  width: 33%;
}

.width-two-thirds {
  width: 66%;
}

.gap-100 {
  margin: var(--s-100);
}

.pad-100 {
  padding: var(--s-100);
}

.gap-top-100 {
  margin-top: var(--s-100);
}

.pad-top-100 {
  padding-top: var(--s-100);
}

.gap-bottom-100 {
  margin-bottom: var(--s-100);
}

.pad-bottom-100 {
  padding-bottom: var(--s-100);
}

.gap-left-100 {
  margin-left: var(--s-100);
}

.pad-left-100 {
  padding-left: var(--s-100);
}

.gap-right-100 {
  margin-right: var(--s-100);
}

.pad-right-100 {
  padding-right: var(--s-100);
}

.gap-inline-100 {
  margin-inline: var(--s-100);
}

.pad-inline-100 {
  padding-inline: var(--s-100);
}

.gap-block-100 {
  margin-block: var(--s-100);
}

.pad-block-100 {
  padding-block: var(--s-100);
}

.gap-200 {
  margin: var(--s-200);
}

.pad-200 {
  padding: var(--s-200);
}

.gap-top-200 {
  margin-top: var(--s-200);
}

.pad-top-200 {
  padding-top: var(--s-200);
}

.gap-bottom-200 {
  margin-bottom: var(--s-200);
}

.pad-bottom-200 {
  padding-bottom: var(--s-200);
}

.gap-left-200 {
  margin-left: var(--s-200);
}

.pad-left-200 {
  padding-left: var(--s-200);
}

.gap-right-200 {
  margin-right: var(--s-200);
}

.pad-right-200 {
  padding-right: var(--s-200);
}

.gap-inline-200 {
  margin-inline: var(--s-200);
}

.pad-inline-200 {
  padding-inline: var(--s-200);
}

.gap-block-200 {
  margin-block: var(--s-200);
}

.pad-block-200 {
  padding-block: var(--s-200);
}

.gap-300 {
  margin: var(--s-300);
}

.pad-300 {
  padding: var(--s-300);
}

.gap-top-300 {
  margin-top: var(--s-300);
}

.pad-top-300 {
  padding-top: var(--s-300);
}

.gap-bottom-300 {
  margin-bottom: var(--s-300);
}

.pad-bottom-300 {
  padding-bottom: var(--s-300);
}

.gap-left-300 {
  margin-left: var(--s-300);
}

.pad-left-300 {
  padding-left: var(--s-300);
}

.gap-right-300 {
  margin-right: var(--s-300);
}

.pad-right-300 {
  padding-right: var(--s-300);
}

.gap-inline-300 {
  margin-inline: var(--s-300);
}

.pad-inline-300 {
  padding-inline: var(--s-300);
}

.gap-block-300 {
  margin-block: var(--s-300);
}

.pad-block-300 {
  padding-block: var(--s-300);
}

.gap-400 {
  margin: var(--s-400);
}

.pad-400 {
  padding: var(--s-400);
}

.gap-top-400 {
  margin-top: var(--s-400);
}

.pad-top-400 {
  padding-top: var(--s-400);
}

.gap-bottom-400 {
  margin-bottom: var(--s-400);
}

.pad-bottom-400 {
  padding-bottom: var(--s-400);
}

.gap-left-400 {
  margin-left: var(--s-400);
}

.pad-left-400 {
  padding-left: var(--s-400);
}

.gap-right-400 {
  margin-right: var(--s-400);
}

.pad-right-400 {
  padding-right: var(--s-400);
}

.gap-inline-400 {
  margin-inline: var(--s-400);
}

.pad-inline-400 {
  padding-inline: var(--s-400);
}

.gap-block-400 {
  margin-block: var(--s-400);
}

.pad-block-400 {
  padding-block: var(--s-400);
}

.gap-500 {
  margin: var(--s-500);
}

.pad-500 {
  padding: var(--s-500);
}

.gap-top-500 {
  margin-top: var(--s-500);
}

.pad-top-500 {
  padding-top: var(--s-500);
}

.gap-bottom-500 {
  margin-bottom: var(--s-500);
}

.pad-bottom-500 {
  padding-bottom: var(--s-500);
}

.gap-left-500 {
  margin-left: var(--s-500);
}

.pad-left-500 {
  padding-left: var(--s-500);
}

.gap-right-500 {
  margin-right: var(--s-500);
}

.pad-right-500 {
  padding-right: var(--s-500);
}

.gap-inline-500 {
  margin-inline: var(--s-500);
}

.pad-inline-500 {
  padding-inline: var(--s-500);
}

.gap-block-500 {
  margin-block: var(--s-500);
}

.pad-block-500 {
  padding-block: var(--s-500);
}

.gap-600 {
  margin: var(--s-600);
}

.pad-600 {
  padding: var(--s-600);
}

.gap-top-600 {
  margin-top: var(--s-600);
}

.pad-top-600 {
  padding-top: var(--s-600);
}

.gap-bottom-600 {
  margin-bottom: var(--s-600);
}

.pad-bottom-600 {
  padding-bottom: var(--s-600);
}

.gap-left-600 {
  margin-left: var(--s-600);
}

.pad-left-600 {
  padding-left: var(--s-600);
}

.gap-right-600 {
  margin-right: var(--s-600);
}

.pad-right-600 {
  padding-right: var(--s-600);
}

.gap-inline-600 {
  margin-inline: var(--s-600);
}

.pad-inline-600 {
  padding-inline: var(--s-600);
}

.gap-block-600 {
  margin-block: var(--s-600);
}

.pad-block-600 {
  padding-block: var(--s-600);
}

.gap-700 {
  margin: var(--s-700);
}

.pad-700 {
  padding: var(--s-700);
}

.gap-top-700 {
  margin-top: var(--s-700);
}

.pad-top-700 {
  padding-top: var(--s-700);
}

.gap-bottom-700 {
  margin-bottom: var(--s-700);
}

.pad-bottom-700 {
  padding-bottom: var(--s-700);
}

.gap-left-700 {
  margin-left: var(--s-700);
}

.pad-left-700 {
  padding-left: var(--s-700);
}

.gap-right-700 {
  margin-right: var(--s-700);
}

.pad-right-700 {
  padding-right: var(--s-700);
}

.gap-inline-700 {
  margin-inline: var(--s-700);
}

.pad-inline-700 {
  padding-inline: var(--s-700);
}

.gap-block-700 {
  margin-block: var(--s-700);
}

.pad-block-700 {
  padding-block: var(--s-700);
}

.gap-800 {
  margin: var(--s-800);
}

.pad-800 {
  padding: var(--s-800);
}

.gap-top-800 {
  margin-top: var(--s-800);
}

.pad-top-800 {
  padding-top: var(--s-800);
}

.gap-bottom-800 {
  margin-bottom: var(--s-800);
}

.pad-bottom-800 {
  padding-bottom: var(--s-800);
}

.gap-left-800 {
  margin-left: var(--s-800);
}

.pad-left-800 {
  padding-left: var(--s-800);
}

.gap-right-800 {
  margin-right: var(--s-800);
}

.pad-right-800 {
  padding-right: var(--s-800);
}

.gap-inline-800 {
  margin-inline: var(--s-800);
}

.pad-inline-800 {
  padding-inline: var(--s-800);
}

.gap-block-800 {
  margin-block: var(--s-800);
}

.pad-block-800 {
  padding-block: var(--s-800);
}

.gap-900 {
  margin: var(--s-900);
}

.pad-900 {
  padding: var(--s-900);
}

.gap-top-900 {
  margin-top: var(--s-900);
}

.pad-top-900 {
  padding-top: var(--s-900);
}

.gap-bottom-900 {
  margin-bottom: var(--s-900);
}

.pad-bottom-900 {
  padding-bottom: var(--s-900);
}

.gap-left-900 {
  margin-left: var(--s-900);
}

.pad-left-900 {
  padding-left: var(--s-900);
}

.gap-right-900 {
  margin-right: var(--s-900);
}

.pad-right-900 {
  padding-right: var(--s-900);
}

.gap-inline-900 {
  margin-inline: var(--s-900);
}

.pad-inline-900 {
  padding-inline: var(--s-900);
}

.gap-block-900 {
  margin-block: var(--s-900);
}

.pad-block-900 {
  padding-block: var(--s-900);
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 5px;
}
