.button {
  border: 0;
  background: 0;
  text-decoration: none;

  display: inline-block;
  padding: 0.5rem 2rem;

  border: 2px solid hsl(var(--clr-white-1000));
  border-radius: 100vw;

  background-color: hsl(var(--clr-white-1000));

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover, &:focus-visible {
    background-color: transparent;
    color: white;
  }
}