/////////////////////////////////////////////
// Primary Project Config File
////////////////////////////////////////////

// Colors
$colors: (
  "orange": (
    "500": hsl(31, 77%, 52%),
  ),
  "cyan": (
    "100": hsl(179, 100%, 13%),
    "200": hsl(184, 100%, 22%),
  ),
  "gray": (
    "900": hsl(0, 0%, 90%),
  ),
  "white": (
    "1000": hsl(0, 0%, 100%),
  ),
);

// Breakpoints
$breakpoints: (
  "tablet": 35em,
  "desktop": 45em,
);

// Font Families
$font-families: (
  "lexend": (
    "Lexend Deca",
    sans-serif,
  ),
  "shoulders": (
    "Big Shoulders Display",
    sans-serif,
  ),
);

// Font Sizes
$font-sizes: (
  "base": (
    "400": 0.9375rem,
    "700": 2.5rem,
  )
);

// Margin/Padding Sizes
$spacings: (
  "base": (
    "500": 1.5625rem,
    "600": 2.1875rem,
    "700": 3rem
  ),
);

// Block Widths
$block-widths: ();

// Letter Spacing

$letter-spacing: ();
