// Custom Utility Classes

.text-white-transparent {
  color: hsl(var(--clr-white-1000) / 0.75);
}

.card-container {
  --switcher-gap: 0;

  border-radius: 0.5em;
  overflow: hidden;
}

.card {
  --gap: 1.5625rem;

  align-items: flex-start;
}