@use "./abstracts/breakpoints" as *;

// Custom Utility Classes

.text-white-transparent {
  color: hsl(var(--clr-white-1000) / 0.75);
}

.main-container {
  --center-max: 23.4375em;

  margin-block: 5.5rem;
  
  @include mq("desktop") {
    --center-max: 57.5em;

    margin-block: 0;
  }
}

.card-container {
  --switcher-gap: 0;
  --switcher-bp: 44em;

  border-radius: 0.5em;
  overflow: hidden;
}

.card {
  --gap: 0;

  align-items: flex-start;

  @include mq("desktop") {
    & > p {
      margin-block-end: 5.5rem;
    }
  }
}